<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Trüs Jewelry | Fine Pinky Rings</title>
    <meta content="" name="title">
    <meta content="" name="description">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,300" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <script src="application.js"></script>
    <!-- <%= stylesheet_link_tag "site" %> -->
    <!-- <%= javascript_include_tag "site" %> -->
  </head>
  <body>
    <nav></nav>
    <main class="content">
      <header>
        <figure>
          <img src="images/logo.png" alt="Trüs logo">
        </figure>
        <h1>Trüs Jewelery</h1>
      </header>
      <section class="content__body">
        <h3>Fine pinky rings made in NYC, by us, for us.</h3>
        <p>More to come. Stay tuned. If you have any questions, feel free to</p>
        <a href="mailto:info@trusjewelry.com">Get in touch!</a>
        <br />
      </section>

      <section class="content__social">
        <p>PS we are social! Follow us on <a href="https://www.instagram.com/trusjewelry/" title="Trüs instagram" target="_blank">insta</a> for updates.</p>
      </section>
    </main>
    <footer>
      <p>&copy; Trüs Jewelry 2018</p>
    </footer>
  </body>
</html>
